{% extends "base/base.html" %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% block content %}
    <div class="p-2">
        {% include "step/step_header.html" %}
        {% for step in steps|dictsort:"rank" %}
            <hr>
            <div class="gap-1">
                <h2>Finale des rangs {{ step.rank }}</h2>
                <div class="row d-flex justify-content-around gap-2">
                    {% for child_step in step.step_set.all|dictsort:"rank" %}
                        {% for pool in child_step.pools.all %}
                            <div class="card col-5" id={{ pool.pk }}>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="row">
                                                <div class="col-6">
                                                    <button class="btn btn-link" data-toggle="collapse"
                                                            data-target="#collapse{{ pool.pk }}"
                                                            aria-expanded="true" aria-controls="collapseOne">
                                                        {% load custom_filters %}
                                                        Rencontre {% next_item %}{% if pool.players.all|length > 1 %}-
                                                        {% next_item %}{% endif %}
                                                    </button>
                                                </div>
                                                <div class="col-4">
                                                    <form method="post" action="{% url 'modify_table' pool.pk %}"
                                                          class="form-inline p-2 border rounded">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="form-group col-8">
                                                                <label for="table" class="sr-only">
                                                                    Table:
                                                                </label>
                                                                <input
                                                                        class="form-control"
                                                                        style="width: 80px; height: 24px;"
                                                                        type="text"
                                                                        name="table"
                                                                        value="
                                                                                {% if pool.table %}{{ pool.table }}{% endif %}"
                                                                        id="table"
                                                                >
                                                            </div>
                                                            <button
                                                                    class="btn col-4"
                                                                    type="submit"
                                                                    style="width: 40px;height: 40px; padding: 0; font-size: 20px">
                                                                ✔
                                                            </button>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-3">
                                            {% if pool.is_done %}
                                                <a class="btn btn-primary"
                                                   href="{% url "validate_pool" step.pk pool.pk %}"
                                                   style="font-size: 0.8em">Valider le match</a>
                                            {% else %}
                                                <a class="btn btn-primary disabled" style="font-size: 0.8em">Valider le
                                                    match</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% for player in pool.players.all %}
                                            <div class="row">
                                                <div class="col-8">
                                                    Joueur {{ forloop.counter }}
                                                    : {{ player.player.last_name }} {{ player.player.first_name }}
                                                    ({{ player.player.points }} points)
                                                </div>
                                                {% if pool.is_validated %}
                                                    <div class="col-4">
                                                        Rang: {{ player.rank }}, coeff : {{ player.coeff }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <table class="table table-striped" style="font-size: 0.7em">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th style="width: 100px" scope="col">Joueur 1</th>
                                            <th style="width: 100px" scope="col">Joueur 2</th>
                                            <th scope="col">Manches</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for game in pool.games.all %}
                                            <tr>
                                                <th scope="col">{{ forloop.counter }}</th>
                                                <td>{{ game.player_one.last_name }} {{ game.player_one.first_name }}</td>
                                                <td>{{ game.player_two.last_name }} {{ game.player_two.first_name }}</td>
                                                <td>
                                                    <div class="row d-flex justify-content-between">
                                                        <form method="post" action="{% url "update_game" game.pk %}"
                                                              class="col d-flex justify-content-start"
                                                              style="width: 300px">
                                                            {% csrf_token %}
                                                            {% for set in game.sets.all %}
                                                                <div class="col mx-1"
                                                                     style="min-width: 50px; max-width: 50px">
                                                                    <label class="form-label"
                                                                           for="{{ set.pk }}">Manche {{ forloop.counter }}</label>
                                                                    <input class="form-control" id="{{ set.pk }}"
                                                                           type="text"
                                                                           name="{{ set.pk }}"
                                                                           value="{{ set.score|default_if_none:"" }}">
                                                                </div>
                                                            {% endfor %}
                                                            <button class="btn" type="submit"
                                                                    style="width: 40px;height: 40px; padding: 0; font-size: 20px">
                                                                ✔
                                                            </button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}

                    {% endfor %}

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}