{% extends "base/base.html" %}
{% load custom_filters %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}

{% block content %}
    <div class="p-2">
        {% include "step/step_header.html" %}
        {% for step in steps|dictsort:"rank" %}
            <hr>
            <div class="row mb-4">
                <div class="col-2">Poules des rangs {{ step.rank }}</div>
                <div class="col-10">
                    {% if step.is_done %}
                        <a href="{% url 'step_pdf' step.pk %}" target="_blank" class="btn btn-primary">Imprimer la
                            suite</a>
                    {% endif %}
                </div>


            </div>
            <div class="row d-flex justify-content-around gap-3">
                {% for pool in step.pools.all %}
                    {% include "step/components/pool.html" %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}