<!-- tournament_view.html -->
{% extends "base/base.html" %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}

{% block content %}
    <div class="p-2">
        {% include "step/step_header.html" %}
        <hr>
        <div class="row d-flex justify-content-around gap-3">
            {% for pool in step.pools.all %}
                {% include "step/components/pool.html" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
