<!-- tournament_view.html -->
{% extends "base/base.html" %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}

{% block content %}
    <div class="p-2">
        <div class="row">
            <div class="col-8">
                <p class="fs-1">Premières poules</p>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center gap-2">
                 <a class="btn btn-primary" href="{% url 'step_pdf' step.pk 1 %}" target="_blank">Imprimer les poules</a>
                {% if step.is_done %}
                    {% if step.step_set.all|length == 0 %}
                        <form class="row" method="post" action="{% url 'create_second_step' step.pk %}">
                            {% csrf_token %}
                            <div class="col">
                                <label for="set_number">
                                    Nombre de sets
                                </label>
                                <select class="form-select" id="set_number" name="set_number">
                                    <option value="3">3</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Créer les deuxièmes poules</button>
                            </div>
                        </form>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'second_steps' step.tournament.pk %}">Passer aux deuxièmes
                            poules</a>
                    {% endif %}
                {% else %}
                    <a class="btn btn-primary disabled">Passer aux deuxièmes poules</a>
                {% endif %}
            </div>
        </div>
        <div class="row d-flex justify-content-around gap-3">
            {% for pool in step.pools.all %}
                <div class="card" style="min-width:650px; max-width: 650px" id={{ pool.pk }}>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <p class="fs-3">Poule {{ forloop.counter }} : id {{ pool.pk }}</p>
                            </div>
                            <div class="col-3">
                                {% if pool.is_done %}
                                    <a class="btn btn-primary" href="{% url "validate_pool" step.pk pool.pk %}"
                                       style="font-size: 0.8em">Valider la poule</a>
                                {% else %}
                                    <a class="btn btn-primary disabled" style="font-size: 0.8em">Valider la poule</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {% for player in pool.players.all %}
                                <div class="row">
                                    <div class="col-8">
                                        Joueur {{ forloop.counter }}: {{ player.player.last_name }} {{ player.player.first_name }}
                                        ({{ player.player.points }} points) id {{ player.pk }}
                                    </div>
                                    {% if pool.validated %}
                                        <div class="col-4">
                                            Rang: {{ player.rank }}, coeff: {{ player.coeff }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <table class="table table-striped" style="font-size: 0.7em">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th style="width: 100px" scope="col">Joueur 1</th>
                                <th style="width: 100px" scope="col">Joueur 2</th>
                                <th scope="col">Sets</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for game in pool.games.all %}
                                <tr>
                                    <th scope="col">{{ forloop.counter }}</th>
                                    <td>{{ game.player_one.last_name }} {{ game.player_one.first_name }}</td>
                                    <td>{{ game.player_two.last_name }} {{ game.player_two.first_name }}</td>
                                    <td>
                                        <div class="row d-flex justify-content-between">
                                            <form method="post" action="{% url "update_game" game.pk %}"
                                                  class="col d-flex justify-content-start" style="width: 300px">
                                                {% csrf_token %}
                                                {% for set in game.sets.all %}
                                                    <div class="col mx-1" style="min-width: 50px; max-width: 50px">
                                                        <label class="form-label"
                                                               for="{{ set.pk }}">Set {{ forloop.counter }}</label>
                                                        <input class="form-control" id="{{ set.pk }}" type="text"
                                                               name="{{ set.pk }}"
                                                               value="{{ set.score|default_if_none:"" }}">
                                                    </div>
                                                {% endfor %}
                                                <button class="btn" type="submit"
                                                        style="width: 40px;height: 40px; padding: 0; font-size: 20px">✔
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
