<!-- tournament_view.html -->
{% extends "base/base.html" %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}

{% block content %}
    <table class="table table-striped collapse"
                   id="collapse{{ pool.pk }}"
                   aria-labelledby="headingOne"
                   data-parent="#accordion{{ pool.pk }}"
                   style="font-size: 0.7em">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th style="width: 100px" scope="col">Joueur 1</th>
                    <th style="width: 100px" scope="col">Joueur 2</th>
                    <th scope="col">Manches</th>
                </tr>
                </thead>
                <tbody>
                {% for game in pool.games.all %}
                    <tr>
                        <th scope="col">{{ forloop.counter }}</th>
                        <td>{{ game.player_one.last_name }} {{ game.player_one.first_name }}</td>
                        <td>{{ game.player_two.last_name }} {{ game.player_two.first_name }}</td>
                        <td>
                            <div class="row d-flex justify-content-between">
                                <form method="post" action="{% url "update_game" game.pk %}"
                                      class="col d-flex justify-content-start" style="width: 300px">
                                    {% csrf_token %}
                                    {% for set in game.sets.all %}
                                        <div class="col mx-1" style="min-width: 50px; max-width: 50px">
                                            <label class="form-label"
                                                   for="{{ set.pk }}">Manche {{ forloop.counter }}</label>
                                            <input class="form-control" id="{{ set.pk }}" type="text"
                                                   name="{{ set.pk }}"
                                                   value="{{ set.score|default_if_none:"" }}">
                                        </div>
                                    {% endfor %}
                                    <button class="btn" type="submit"
                                            style="width: 40px;height: 40px; padding: 0; font-size: 20px">
                                        ✔
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{% endblock %}