<!-- tournament_view.html -->
{% extends "base/base.html" %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
    <div class="row d-flex justify-content-around">
        <div class="col-5 p-2">
            <h2>Liste des tournois</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Date</th>
                    <th scope="col">Nombre de sets</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>
                {% for tournament in tournaments %}
                    <tr onclick="window.location.href='{% url 'tournament_detail' tournament.pk %}'" style="cursor: pointer;">
                        <td>{{ tournament.name }}</td>
                        <td>{{ tournament.date }}</td>
                        <td>{{ tournament.set_number }}</td>
                        <td>{{ tournament.get_type_display }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-5 p-2">
            <h2>Enregistrer un nouveau tournoi</h2>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Enregistrer
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}